header{
    height: auto;
    background: linear-gradient(180deg, #28a745 40%, rgba(237, 164, 24, 0) 100%);
    .container{
        .header1{
            // position: fixed;
            // z-index: 3;
            .logo1{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .text{
                display: flex;
                align-items: center;
                justify-content: center;
                .text1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    :active{
                        color: rgb(0, 0, 0);
                        animation: myshadow1 5s;
                    }
                    :hover{
                        font-size: 120%;
                        color: rgb(255, 255, 255);
                        animation: myshadow 5s;
                    }
                    @keyframes myshadow{
                        10% {text-shadow: 10px 10px 10px rgb(0, 0, 0);}
                    }
                }
                .text2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    :active{
                        color: rgb(0, 0, 0);
                    }
                    :hover{
                        font-size: 120%;
                        color: rgb(255, 255, 255);
                        animation: myshadow 5s;
                    }
                    @keyframes myshadow{
                        10% {text-shadow: 10px 10px 10px rgb(0, 0, 0);}
                    }
                }
                .text3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    :active{
                        color: rgb(0, 0, 0);
                    }
                    :hover{
                        font-size: 120%;
                        color: rgb(255, 255, 255);
                        animation: myshadow 5s;
                    }
                    @keyframes myshadow{
                        10% {text-shadow: 10px 10px 10px rgb(0, 0, 0);}
                    }
                }
                .logo2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        padding: 5px;
                    }
                }
            }
        }
        .header2{
            .text-button{
                display: flex;
                align-items: center;
                justify-content: center;
                .block{
                    margin: 5% 0% 3% 0%;
                    h1{
                        margin: 10px 0px 30px 0px;
                    }
                    p{
                        margin: 30px 0px 30px 0px;
                    }
                    button{
                        background: linear-gradient(0deg, #28a745 2%, rgba(237, 164, 24, 0) 100%);
                        border: 0px;
                        border-radius: 50px;
                        padding: 7px 40px 7px 40px;
                    }
                    :active{
                        color: #28a745;
                        background: linear-gradient(135deg, #28a745 2%, rgba(237, 164, 24, 0) 100%);
                    }
                }
            }
            .burger_header{
                margin-bottom: 15px;
            }
        }
    }
}


main{
    .container{
        .row{
            .menu{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
            }
        }
        .slider{
            .block{
                .image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                h4{
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

footer{
    height: auto;
    background: linear-gradient(360deg, #28a745 10%, rgba(237, 164, 24, 0) 100%);
    .container{
        .text_1{
            text-align: center;
            margin-top: 30px;
            a{
                color: black;
                text-decoration: none;
            }
        }
        .text_2{
            text-align: center;
            margin-top: 30px;
            a{
                color: black;
                text-decoration: none;
            }
        }
        .button{
            .block{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
}